/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
  padding-left: -10px;
  padding-top: -10px;
  margin-top: -20px;
  margin-left: -20px;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

/*body {
  font-family: 'Raleway', sans-serif;
}

.container {
  font-weight: bold;
  float: left;
  text-align: left;
  position: fixed;
  background-color: #fff;
}


img {
  width: 80px;
  height: auto;
  text-align: justify-all;
  float: right;
  
}*/
.mansory {
  column-count: 1;
  column-gap: 1em;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1350px;
  margin-top: -20px;
  font-weight: bolder;
  position: fixed;
  background-color: #fff;
  
}

img {
  width: 60px;
  margin-top: -10px; 
  margin-right: 100px;
  height: auto;
  float: right;
}

#menu {  
  padding-top: 50px;
  padding-left: 50px;
}

#menu a{
  padding: 30px;
}

#menu a:first-child {
  margin-left: 100px;
}

#home {
  width: 100%;
  height: 500px;
  color: #fff; 
  margin-top: 50px; 
  display: inline-block;
  background-color: #292D36FF;
  background-position: 0% 7%;
  background-repeat: no-repeat;
  background-image: url(../assets/images/bg-home.jpg);
  background-size: 100%;
  text-align: center;
}

#home h2 {
  padding-top: 100px;
  font-size: large;
  font-weight: bolder;
}

#home h1 {
  font-size: 50px;
  font-weight: bolder;
}

#home p {
  font-weight: normal;
}

#home a {
  width: 150px;
  height: 30px;
  padding-top: 2px;
  font-weight: normal;
  font-size: small;
  color: white;
  display: inline-block;
  background-color: #2ECC71FF;
}

#services {
  width: 100%;
  height: 500px;
  background-color: #F17C72FF;
  color: white; 
  text-align: center; 
}

#services h2 {
  font-size: xx-large;
}

#services h4 {
  margin-bottom: 50px;
  font-size: normal;
}

#services h5{
  margin-top: 150px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
  line-height: 15%;
}

#services h6 {
  font-size: x-small;
  line-height: 1%;

}

#service-one {
  background-image: url(../assets/images/services-1.png);
  background-repeat: no-repeat;
  background-size: 85%;
  float: left;
  margin-left: 15em;
  margin-right: 12.5em;
  line-height: normal;
}

#service-two {
  background-image: url(../assets/images/services-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;  
}

#service-three {
  background-image: url(../assets/images/services-3.png);
  background-repeat: no-repeat;
  background-size: 85%;
  float: left;
  margin-left: 12.5em;  
}

.work {
  width: 100%;
  height: 500px;
  text-align: center;
}

.work h2 {
  font-size: xx-large;
  margin: 50px;
}

.work h4 {
  margin-bottom: 50px; 
  font-size: normal;
}

.hero {
  width: 90%;
  height: auto;
  margin-top: 10px; 
  margin-left: 80px;
  float: left; 
  
}

.img h4 {
  padding-top: 250px;
  
  
}

.img {
  width: 290px;
  height: 240px;
  float: left;
  margin: 80px 40px;
  background-repeat: no-repeat;
  background-size: 100%;

}
 
.uno {
  background-image: url(../assets/images/work-1.jpg);
  margin-left: 200px;
  
}

.dos {
  background-image: url(../assets/images/work-2.jpg);
}

.tres {
  background-image: url(../assets/images/work-3.jpg);

}

.cuatro {
  background-image: url(../assets/images/work-4.jpg);
  clear: left;
  margin-left: 200px;
}

.cinco {
  background-image: url(../assets/images/work-5.jpg);
}

.seis {
  background-image: url(../assets/images/work-6.jpg);
}

.siete {
  background-image: url(../assets/images/work-7.jpg);
  clear: left;
  margin-left: 200px;
}

.ocho {
  background-image: url(../assets/images/work-10.jpg);
}

.nueve {
  background-image: url(../assets/images/work-11.jpg);
}

.copyrigth {
  width: 1350px;
  height: 60px;
  background-color: #373B47FF;
  text-align: center;
  color: white;
  margin-top: 4px;
}
