/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
  padding-left: -10px;
  padding-top: -10px;
  margin-top: -20px;
  margin-left: -20px;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

/*body {
  font-family: 'Raleway', sans-serif;
}

.container {
  font-weight: bold;
  float: left;
  text-align: left;
  position: fixed;
  background-color: #fff;
}


img {
  width: 80px;
  height: auto;
  text-align: justify-all;
  float: right;
  
}*/

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1350px;
  margin-top: -20px;
  font-weight: bolder;
  position: fixed;
  background-color: #fff;

}

img {
  width: 60px;
  margin-top: -10px; 
  height: auto;
  float: right;

}

#menu {
  
  padding-top: 50px;
  padding-left: 50px;
}

#menu a{
  padding: 30px;
}

#menu a:first-child {
  margin-left: 100px;
}

#home {
  width: 1400px;
  height: 1500px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-position: 0% 7%;
  background-repeat: no-repeat;
  background-image: url(../assets/images/bg-home.jpg);
  background-size: 100%;
}

div#home h2 {
  padding-top: 200px;
}

div#home p {
  font-weight: normal;
}